.book-action-btn{
	display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.book-btn{
    background-color: #477F83;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
}